#login {
    display: flex;
    justify-content: center;
}

#login > form {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 60%;
    
    border: 1px solid rgb(218, 213, 194);

    margin: 5rem;
    padding: 2rem
}

button {
    margin-left: 0.3rem;
}